.leaflet-container {
  
    margin:0px;
    height: 88vh;
    width: 945px;
  }
  .list{
    display: flex;
    list-style-type: none;
   
  }
  .name{
    padding: 12px;
  }
  .type{
    padding: auto;
  }
  .institute{
    padding: 12px;
  }
  .year{
    padding: auto;
  }
  .table-headers{
    font-weight: bold;
  }
