*{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
  padding: 20px;
  align-items: center;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px, solid,gold;
} 
.navbar .links{
  margin-left: auto;
}
.navbar .links a{
  text-decoration: none;
  padding: 12px;
}
.content{

  max-width: 600px;
  margin: 40px auto;
  padding: 12px;
}
.navbar h1{
  color: #f1356d;
}
.navbar .links a:hover{
  color: #f1356d;
}